<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mys.mbackstage.dao.MenuMapper">
    <resultMap id="BaseResultMap" type="com.mys.mbackstage.model.Menu">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="parentId" jdbcType="VARCHAR" property="parentId" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="order" jdbcType="INTEGER" property="order" />



    </resultMap>
    <sql id="Base_Column_List">
    id, `name`, parentId, url, icon, `order`
  </sql>
    <select id="findTree"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_menu

    </select>

</mapper>